{{#each economy}}
    <div class="blog-wrapper">
        <div class="blog-card">
            <a href="/blog/economy/{{this._id}}">
                <img src="/images/{{this.blogImage1}}" alt="">
                <h2>{{this.title}}</h2>
                <h4>{{this.content}}</h4>
                <p>{{formatDate this.createdAt 'MMMM Do YYYY, h:mm:ss a'}}</p>
            </a>
        </div>
    </div>
{{/each}}