<div>    
    <h2>{{{politics.title}}}</h2>
    <p>{{{politics.content}}}</p>
    <img src="/images/{{{politics.blogImage1}}}" alt="">
    <img src="/images/{{{politics.blogImage2}}}" alt="">
    <p>{{{politics.user.username}}}</p>
</div>